@model SOL_DeptoAddEditVM

<h3>@ViewBag.Title</h3>

<form method="post">

    <div class="form-group mt-4">
        <label asp-for="CodDepto"></label>
        @if (ViewBag.IsEditing == "S")
        {
            <input class="form-control" asp-for="@Model.CodDepto" readonly autofocus>
        }
        else
        {
            <input class="form-control" asp-for="@Model.CodDepto" autofocus>
            <span asp-validation-for="CodDepto" class="text-danger"></span>
        }
    </div>

    <div class="form-group">
        <label asp-for="DescDepto"></label>
        <input class="form-control" asp-for="@Model.DescDepto" autofocus>
        <span asp-validation-for="DescDepto" class="text-danger"></span>
    </div>

    <div>
        <button class="btn btn-outline-info" type="submit">Salvar</button>
        <a class="btn btn-outline-danger" asp-action="Index" asp-controller="SOL_Depto">Voltar</a>
    </div>

</form>

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

