/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.containerlogojd img {
    max-width: 90px;
    max-height: 40px;
    width: auto;
    height: auto;
}

.del-modal {
    /*background-color: #000;
    color: green;*/
    border: dotted rgb(255, 0, 0) 2px;
}

a, a:hover {
    color: #1a0dab;
}

h2 {
    font-size: 18px;
}

p {
    margin: 0 0 10px;
    display: block;
}

.search_conteudo {
    font-size: small;
    line-height: 1.4;
    word-wrap: break-word;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.tags {
    font-size: x-small;
    margin-bottom: 5px;
}

mark, .mark {
    padding: 0;
    background-color: yellow;
}

.spanLoggeUser {
    font-size: 90%;
    color: #dc3545; /*#006621;*/
}