@model TipoVisualizacaoAddEditVM

<h3>@ViewBag.Title</h3>

<form method="post">

    <div class="form-group mt-4">
        <label asp-for="Tipo"></label>
        @if (ViewBag.IsEditing == "S")
        {
            <input class="form-control" asp-for="@Model.Tipo" readonly autofocus>
        }
        else
        {
            <input class="form-control" asp-for="@Model.Tipo" autofocus>
            <span asp-validation-for="Tipo" class="text-danger"></span>
        }
    </div>

    <div class="form-group">
        <label asp-for="DescTipo"></label>
        <input class="form-control" asp-for="@Model.DescTipo" autofocus>
        <span asp-validation-for="DescTipo" class="text-danger"></span>
    </div>

    <div>
        <button class="btn btn-outline-info" type="submit">Salvar</button>
        <a class="btn btn-outline-danger" asp-action="Index" asp-controller="TipoVisualizacao">Cancelar</a>
    </div>

</form>

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

